body{ 
text-align:center;
}
#back{
   position: relative;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
  width:100%;
 background-image: url("https://images5.alphacoders.com/901/901205.jpg");

}
h1{
  color:silver;
  font-size:50px;
}
#description{
    font-size:20px;
}

#banner{
  postion:absolute;
 hight:auto;
  width:50%;
  padding:20px;
  padding-left:90px;
  margin:15em auto;
 margin-left:50%;
  margin-top:40em;
  transform: translate(-50%,-50%);
  z-index:;
  text-align:center;
  background-color: rgba(0,0,0,0.3);
  color:#fff;
} 
 
 
.for-side{
  text-align:start;
  font-size:20px;
}
.inputs{
   font-size:20px;
  border-radius:5em;
  display:block;
  width:80%;
  padding:5px;
}
.inputco{
   font-size:20px;
  border-radius:1em;
  display:block;
  background-colour:silver;
  width:80%;
  height:200px;
  padding:5px;
}
.inputb{
   font-size:20px;
  border-radius:5em;
  display:block;
  background:green;
  width:80%;
  padding:5px;
}
.bac {
   position: relative;
  width:70%;
  height: 700px;
}
 
